{% extends 'admins/base.html' %}
{% load staticfiles %}

{% block content %}
    <main>
        {# ================================== #}
        {% if form.errors %}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ form.errors }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endif %}
        {# ================================== #}
        <div class="container-fluid">
            <h1 class="mt-4">Создание Товара</h1>

                <form action="{% url 'admins:create_products' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {# ================================================================================================#}

                <div class="form-row">
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label class="text mb-1" >Название товара</label>
                            {{ form.name }}
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text mb-1" for="{{ form.description.id_for_label }}">Описание товара</label>
                            {{ form.description }}
                        </div>
                    </div>
                </div>

                {# ================================================================================================#}
                <div class="form-row mb-2">
                    <div class="col-lg-12">
                        <div class="custom-file">

                            {{ form.image }}
                            <label class="custom-file-label" for="{{ form.image.id_for_label }}">Выберите
                                изображение</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text mb-1" for="{{ form.price.id_for_label }}">Цена товара</label>
                            {{ form.price }}
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text mb-1" for="{{ form.quantity.id_for_label }}">Количество товара</label>
                            {{ form.quantity }}
                        </div>
                    </div>
                </div>
                <div class="form-row">

                    <div class="col-lg-6">
                        <div class="form-group" style="text-align: center;">
                            {# ========================================================================================================= #}

                            <div class="dropdown">

                                <button class="btn py-4  dropdown-toggle" type="button"

                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Категория товара
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    {% for category in categories %}
                                        <a class="dropdown-item" href="#">{{ category.name }}</a>
                                    {% endfor %}

                                </div>

                            </div>
                            {# ========================================================================================================= #}
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group" style="text-align: center;">
                            <label class="small mb-1" for="{{ form.is_active.id_for_label }}">Видимость товара</label>

                            {{ form.is_active }}
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>


        </div>
    </main>
{% endblock %}
