{% extends 'admins/base.html' %}
{% load staticfiles %}

{% block content %}
    <main>
        {# ================================================ #}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">

                {% if messages %}
                    {# =============================================================== #}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    {# =============================================================== #}

                {% endif %}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        {% endif %}
        {# ================================================ #}
        <div class="container-fluid">
            <h1 class="mt-4">Категории</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Категории
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>

                                <th>Имя Категории</th>
                                <th>Описание Категории</th>
                                <th>Активность Категории</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>

                                <th>Имя Категории</th>
                                <th>Описание Категории</th>
                                <th>Активность Категории</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            {% for category in productcategory_list %}
                                <tr>

                                    <td><a href="{% url 'admins:categories_update' category.pk %}"
                                           style="color:  #008080; text-shadow: 2px 2px 5px greenyellow">
                                        {{ category.name }}</a></td>

                                    <td>{{ category.description }}</td>
                                    <td class="text-center">
                                        {% if category.is_active %}
                                            <i class="fas fa-check-circle"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle"></i>
                                        {% endif %}
                                    </td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admins:create_categories' %}">
                        <button class="btn btn-success">Создать категорию</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}