{% extends 'ordersapp/order_list.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'ordersapp/includes/inc_order_summary.html' %}
    <div class="basket_list">
        {% for item in object.orderitems.select_related %}
            <div class="basket_record text-center">
                <div class="col-lg-12">
                    <img width="150"
                            {#                             {{ item.product.image }}#}
                         src="{% if item.product.image %} {{ item.product.image.url }}
                                {% else %} {% static 'vendor/img/products/default.png' %}
                                {% endif %}"
                         class="img-thumbnail" alt="foto">
                </div>
                {#                <img src="{{ item.product.image|media_folder_products }}"#}
                {#                     alt="{{ item.product.short_desc }}">#}
                <span class="category_name">
                   {{ item.product.category.name }}
               </span>
                <span class="product_name">{{ item.product.name }}</span>
                <span class="product_price">
                   {{ item.product.price }}&nbspруб
               </span>
                <span class="product_quantitiy">
                   x {{ item.quantity }} шт.
               </span>
                <span class="product_cost">
                    = {{ item.get_product_cost }}&nbspруб
               </span>
            </div>
        {% endfor %}
    </div>
    <br>
    {% include 'ordersapp/includes/inc_order_actions.html' %}

{% endblock %}
